* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,
html {
    scroll-behavior: smooth !important;
}
body {
    font-family: poppins;
    background-color: #1e024a;
}

:root {
    --main-bg-color: #1e024a;
    --main-font-color: white;
    --main-button-color: #a0a8f5;
    --shadow: #3d4586;
}
header {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

header .h2 {
    display: flex;
    align-items: center;
    color: var(--main-font-color);
}

h2 {
    color: var(--main-font-color);
    font-size: 2rem bold;
}

header nav #links {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    padding-right: 80px;
}
.menu-container {
    background-color: var(--main-bg-color);
}
.hamburger {
    display: none;
}
header nav ul li {
    margin-right: 1rem;
    font-size: 1.7rem;
}

header nav a {
    color: var(--main-font-color);
    text-decoration: none;
}
header nav a:hover {
    color: var(--main-button-color);
}
.main {
    display: flex;
    height: 900px;
    padding: 0 2rem;
    background-color: var(--main-bg-color);
}

.main img {
    width: 40%;
    height: auto;
    margin-left: 2rem;
}

.main h1,
.main h2,
.main p {
    margin: 0;
}

.main h2 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.main p {
    font-size: x-large;
    text-align: center;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 800px;
    color: var(--main-font-color);
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 800px;
    margin-top: 15px;
}

.image img {
    border-radius: 0px 0px 0px 150px;
    box-shadow: 40px -40px 0px #3d4586;
    width: 60%;
    height: 60vh;
    object-fit: cover;
    min-width: 400px;
}
.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 100px;
}
.buttons-container .buttons:hover {
    color: var(--main-bg-color);
}
.buttons-container .projectsbuttons a:hover {
    color: var(--main-bg-color);
}

.contactbuttons {
    padding: 15px 30px;
    background-color: var(--main-button-color);
    color: var(--main-font-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
    margin-right: 15px;
    text-decoration: none;
    color: var(--main-font-color);
    box-shadow: 5px 5px 0px #3d4586;
}
.contactbuttons a {
    text-decoration: none;
    color: var(--main-font-color);
}
.buttons a:hover {
    color: var(--main-bg-color);
}
.projectsbuttons {
    padding: 15px 25px;
    background-color: #545d9e;
    color: var(--main-font-color);
    border: none;
    border-radius: 8px;
    border: #a0a8f5 3px solid;
    border-color: var(--main-button-color);
    cursor: pointer;
    font-size: 25px;
    box-shadow: 5px 5px 0px #3d4586;
}
.projectsbuttons a {
    text-decoration: none;
    color: var(--main-font-color);
}
.about {
    background-color: var(--main-button-color);
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 60px;
    color: var(--main-font-color);
    height: 800px;
}
.about h1 {
    margin-bottom: 25px;
    font-size: 3.5rem;
}
.about p {
    margin-bottom: 25px;
    font-size: 1.5rem;
}

.aboutImg {
    display: block;
    margin-left: 300px;
}
.aboutImg img {
    height: 450px;
    min-width: 400px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 10px 10px 3px #3d4586;
    margin: 50px;
}

.hireMe-container {
    display: flex;
    border-radius: 45px 45px 45px 45px;
    margin-top: 10px;
    margin-right: 20px;
}
.hireMe {
    padding: 25px 75px;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 30px;
    box-shadow: 7px 7px 2px #3d4586;
}
.hireMe:hover {
    color: var(--main-button-color);
}
.myprojects {
    margin-top: 50px;
}
.myprojects h1 {
    color: var(--main-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin-top: 35px;
}

.carousel {
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: var(--main-font-color);
}
.carousel-item {
    height: 500px;
    flex: 1 0 300px;
    width: 400px;
    max-width: 400px;
    background-color: var(--shadow);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}
.carousel-item:hover {
    transform: scale(1.05);
}
.carousel-item img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    object-fit: cover;
    min-width: 150px;
    height: 200px;
}

.carousel h3 {
    font-size: 1.7rem;
}
.carousel p {
    font-size: 1.3rem;
}
.projectLinks {
    text-decoration: none;
    color: var(--main-font-color);
}

footer {
    background-color: var(--main-bg-color);
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 0 20px;
}

.footer-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    font-size: 1.3rem;
    margin-left: 15px;
}

.footer-links li {
    margin-right: 15px;
}

.footer-links a {
    color: var(--main-font-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--main-button-color);
}

.footer-copyright {
    color: var(--main-font-color);
    font-family: poppins;
    font-size: 14px;
    margin-top: 10px;
    font-size: 1rem;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 35px;
    margin-right: 25px;
}
.social-icons img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 20px;
    color: var(--main-font-color);
    transition: color 0.3s;
}

.social-icon:hover {
    color: var(--main-button-color);
}

.footer-line {
    border-top: 1px solid #fff;
    margin: 20px 0;
}
.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-button {
    padding: 10px 15px;
    background-color: var(--main-button-color);
    color: var(--main-font-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    margin-right: 15px;
    box-shadow: 7px 7px 2px #3d4586;
}
.footer-button a {
    text-decoration: none;
    color: var(--main-font-color);
}
.footer-button a:hover {
    color: var(--main-bg-color);
}

@media screen and (max-width: 1500px) {
    .about {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: var(--main-button-color);
    }

    .aboutText {
        display: flex;
        height: 600px;
        padding: 0px;
        margin-left: 45px;
        flex-direction: left;
    }
    .aboutText h1 {
        display: flex;
        font-size: 4rem;
    }
    .TextButton {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .aboutText p {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .hireMe-container {
        display: flex;
        align-items: center;
    }
    .hireMe {
        font-size: 1.3rem;
        padding: 25px 30px;
        margin-bottom: 10px;
    }
    .aboutImg {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .aboutImg img {
        flex-direction: column;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        min-width: 150px;
        margin-left: 0px;
    }
    .project-box {
        height: 300px;
    }
}
@media screen and (max-width: 1224px) {
    .logo h2 {
        font-size: 1em;
    }
    .header nav ul li {
        margin-right: 0px;
    }

    nav a {
        font-size: 0.5em;
        padding: 0.3em;
    }

    .main {
        height: 30vh;
        display: flex;
        flex-wrap: wrap;
        align-items: column;
        justify-content: center;
    }
    .main h2 {
        font-size: 2rem;
    }
    .main p {
        font-size: 1.5rem;
    }
    .nav text {
        display: flex;
        flex-direction: center;
        align-items: center;
        justify-content: center;
    }
    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 200px;
        margin-top: 40px;
    }
    .image {
        height: 300px;
    }
    .image img {
        height: 170px;
        object-fit: cover;
        min-width: 150px;
        margin-right: 25px;
        margin-top: 5px;
        border-radius: 0px 0px 0px 100px;
        box-shadow: 15px -15px 0px #3d4586;
    }
    .projectsbuttons {
        padding: 10px 2.5px;
        font-size: 1rem;
    }
    .projectsbuttons a {
        padding: 10px 10px;
        font-size: 1rem;
    }
    .buttons-container {
        margin-top: 20px;
        gap: 0px;
    }
    .projectsbuttons a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 5px;
    }
    .contactbuttons {
        padding: 10px 1px;
    }
    .contactbuttons a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        font-size: 1rem;
    }
    .about {
        margin-top: 250px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: var(--main-button-color);
    }

    .aboutText {
        display: flex;
        height: 600px;
        padding: 0px;
        margin: 10px;
        flex-direction: left;
    }
    .aboutText h1 {
        display: flex;
        font-size: 2.5rem;
    }
    .TextButton {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .aboutText p {
        display: flex;
        align-items: center;

        margin-bottom: 15px;
        font-size: 1.5rem;
    }
    .hireMe-container {
        display: flex;
        align-items: center;
    }
    .hireMe {
        font-size: 1.3rem;
        padding: 25px 30px;
        margin-bottom: 10px;
    }
    .aboutImg {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .aboutImg img {
        flex-direction: column;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        min-width: 150px;
        margin-left: 0px;
    }

    .myprojects h1 {
        font-size: 2.5rem;
    }
    .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        padding: 20px;
    }
    .carousel-item {
        height: 350px;
        width: 300px;
    }
    .carousel-item img {
        object-fit: cover;
    }
    .carousel h3 {
        font-size: 1.5rem;
    }
    .carousel p {
        font-size: 1.3rem;
    }
    .footer-links {
        margin-left: 20px;
    }
    .social-icons img {
        height: 30px;
    }
    .footer-button {
        font-size: 25px;
    }
}

@media screen and (max-width: 900px) {
    .header {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        color: white;
        background: transparent;
        z-index: 100;
        position: absolute;
        right: 0;
        flex: 1;
        padding-right: 30px;
    }

    .closeIcon {
        right: 2rem;
        display: none;
        font-size: 24px;
        cursor: pointer;
        margin: 0 10px;
    }

    .closeIcon.is-active {
        display: block;
    }

    .menuIcon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        margin: 0 10px;
    }

    .menuIcon.is-active {
        display: none;
    }

    .links {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        z-index: 0;
        margin: 0 auto;
        text-align: center;
        flex: 2;
        display: none;
    }
    .showLinks {
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: column;
        background: var(--main-bg-color);
        box-shadow: 0 0 10px 0px #3d4586;
        color: white;
        align-items: center;
        justify-content: center;
    }
    .menuItem {
        font-size: 1rem;
        margin-left: 10px;
    }

    .menu a {
        margin-top: 0;
    }

    .showMenu {
        transform: translateY(0);
        padding-right: 0px;
    }

    .logo h2 {
        font-size: 1em;
    }
    .header nav ul {
        padding-right: 0px;
        margin-top: 25px;
        gap: 20px;
    }
    .header nav ul li {
        margin-top: 25px;
        margin-right: 0px;
    }
    .header nav ul li a {
        margin-top: 30px;
    }

    nav a {
        font-size: 0.5em;
        padding: 0.3em;
    }

    .main {
        height: 60vh;
        display: flex;
        flex-wrap: wrap;
        align-items: column;
        justify-content: center;
    }
    .main h2 {
        font-size: 1.5rem;
    }
    .main p {
        font-size: 1rem;
    }
    .nav text {
        display: flex;
        flex-direction: center;
        align-items: center;
        justify-content: center;
    }
    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 350px;
        margin-top: 15px;
    }
    .image {
        height: 10px;
    }
    .image img {
        height: 170px;
        object-fit: cover;
        min-width: 150px;
        margin-right: 25px;
        margin-top: 55px;
        border-radius: 0px 0px 0px 100px;
        box-shadow: 15px -15px 0px #3d4586;
    }
    .contactbuttons {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        padding: 10px 1px;
    }
    .contactbuttons a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px 10px;
        font-size: 1rem;
    }
    .buttons-container {
        gap: 0px;
        margin-top: 20px;
    }
    .projectsbuttons a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px 5px;
        font-size: 1rem;
    }

    .about {
        margin-top: 250px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: var(--main-button-color);
        text-align: center;
    }

    .aboutText {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        padding: 0px;
        margin: 10px;
        flex-direction: center;
    }
    .aboutText h1 {
        display: flex;
        font-size: 1.5rem;
    }
    .TextButton {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .aboutText p {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 15px;
        font-size: 1rem;
    }
    .hireMe-container {
        display: flex;
        align-items: center;
    }
    .hireMe {
        border-radius: 7px;
        font-size: 1.5rem;
        padding: 10px 20px;
        margin-bottom: 10px;
    }
    .aboutImg {
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .aboutImg img {
        flex-direction: column;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        min-width: 150px;
        margin-left: 40px;
    }
    .myprojects h1 {
        font-size: 1.5rem;
    }

    .carousel-item {
        height: 270px;
        width: 200px;
    }
    .carousel-item img {
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        min-width: 100px;
        height: 150px;
    }
    .carousel h3 {
        font-size: 1.3rem;
    }
    .carousel p {
        font-size: 1rem;
    }

    .social-icons {
        margin-bottom: 10px;
    }

    .footer-logo {
        display: none;
        font-size: 1rem;
    }

    .footer-links {
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: none;
        display: grid;
        width: 50%;
    }

    .footer-links li {
        margin-bottom: 10px;
    }

    .footer-links a {
        text-decoration: none;
        font-size: 14px;
    }

    .social-icon:hover {
        transform: translateY(-5px);
    }

    .footer-line {
        width: 100%;
        height: 1px;
        background-color: var(--main-font-color);
        margin: 20px 0;
    }

    .footer-copyright {
        text-align: center;
        font-size: 14px;
        margin: 0;
    }

    .footer-button {
        background-color: var(--main-button-color);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        margin-left: auto;
    }
    .social-icons img {
        height: 25px;
    }
}
@media screen and (max-width: 480px) {
    .main {
        height: 40vh;
    }

    .main h1 {
        font-size: 1.5rem;
    }

    .main p {
        font-size: 0.8rem;
    }
}
