* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: poppins;
    background-color: #1E024A;
    scroll-behavior: smooth;
}

:root {
  --main-bg-color:#1E024A ;
  --main-font-color:white;
  --main-button-color:#A0A8F5;
  --shadow:#3d4586;
}
header {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

header .h2 {
    display: flex;
    align-items: center;
    color: var(--main-font-color);
}

h2{
    color: var(--main-font-color);
    font-size: 2rem bold;
}


header nav #links{
    display: flex;
    align-items: center;
    
}

header nav ul  {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    padding-right: 80px;
}
.hamburger {
  display: none;
}
header nav ul  li {
    margin-right: 1rem;
    font-size: 1.7rem;
}

header nav a {
    color: var(--main-font-color);
    text-decoration: none;
}

.main {
    display: flex;
    height: 900px;
    padding: 0 2rem;
    background-color: var(--main-bg-color);
  }
  
  .main img {
    width: 40%;
    height: auto;
    margin-left: 2rem;
  }
  
  .main h1,
  .main h2,
  .main p {
    margin: 0;
  }
  
  .main h2 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    
  }
  
  .main p {
    font-size: x-large;
    text-align: center;
    width: 100%;
    
  }
  
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 800px;
    color: var(--main-font-color);
  }
  
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 800px;
    margin-top: 15px;
  }
  
  .image img{
    border-radius: 0px 0px 0px 150px; 
  box-shadow: 40px -40px 0px #3d4586;
  width: 60%;
  height: 60vh;
  object-fit: cover;
  min-width: 400px;
  }
  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 100px;
  
  }
  
  .buttons {
    padding: 15px 30px;
    background-color: var(--main-button-color);
    color: var(--main-font-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
    margin-right: 15px;
    box-shadow: 5px 5px 0px  #3d4586;
  }
  
  .about{
    background-color: var(--main-button-color);
    margin-top: 0px;
  }
  .aboutText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    color: var(--main-font-color);
    height: 900px;
  }
  .about h1{
    font-size: 4rem;
    margin-top: 60px;
  }
  .about p{
    font-size: 1.7rem;
  }

  .aboutImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px 50px 50px 50px; 
    box-shadow: 5px 5px 5px ;
  }

  .hireMe-container {
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
  }
  .hireMe {
    padding: 15px 30px;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
    margin-right: 15px;
  }

  .myprojects{
    height: 100px;
  }
.myprojects h1{
  color: var(--main-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
  
.carousel {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  color: var(--main-font-color);
  overflow-x: auto;
  overflow-y: hidden;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: center;
  min-width: 300px;
  text-align: left;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.carousel-description {
  padding: 10px;
  font-size: 2rem;
}


@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 100;
    top: 1rem;
    margin-left: 170px;
    padding: 4px;
    color: white;
    background:transparent;
    display: block;
  }

  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main-bg-color);
    color: white;
    list-style: none;
    padding-top: 4rem;
  }
  .menuItem{
    display: row;
   flex-direction: row;
   align-items: center;
  font-size: 2rem;
  }

  .showMenu {
    transform: translateY(0);
  }
    .logo h2 {
        font-size: 1em; 
      }
      .header nav ul li{
        margin-right: 0px;
      }

      .header nav ul{
        gap: 5px;
      }

      nav a {
        font-size: 0.5em; 
        padding: 0.3em; 
      }

    .main {
      height: 25vh;
      display: flex;
      flex-wrap: wrap;
      align-items: column;
      justify-content: center;
      
    }
    .main h2{
        font-size: 1.5rem;
    }
    .main p {
      font-size: 1rem;
    }
    .nav text{
        display: flex;
        flex-direction: center;
        align-items: center;
        justify-content: center;
    }
    .text{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; 
        height: 200px;
    }
    .image{
        height: 250px;
    }
    .image img{
        height: 200px;
        object-fit: cover;
        min-width: 150px;
        margin-right: 25px;
        margin-top: 5px;
        border-radius: 0px 0px 0px 100px; 
  box-shadow:15px -15px 0px #3d4586;
    }
    .buttons{
        padding: 5px 10px;
        font-size: 1rem;
    }

    .buttons-container{
      gap: 0px;
    }

    .about{
        margin-top: 250px;
        height: 300px;
        display: flex;
      align-items: center;
      justify-content: center;
    
    }

    .aboutText{
      margin-left: 3px;
      height: 300px;
    }
    .aboutText h1{
      display: flex;
      align-items: center;
      justify-content: center;
        font-size: 1.5rem;
    }
    .TextButton{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .aboutText p{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 15px;
        font-size: 1rem;
    }
    .hireMe-container
    {
      display: flex;
      align-items: center;
      justify-content: center;
  }
   .hireMe{
    margin-left: 30px;
    font-size: 1rem;
    padding: 5px 10px;
    margin-bottom: 10px;
   }
    
   .myprojects{
    height: 75px;
   }
   .myprojects h1{
    font-size: 1.5rem;
   }
   .carousel {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
    
  }

  .carousel-item {
    min-width: 100%;
    font-size: 0.5rem;
  }
  .carousel-item h3{
    font-size: 0.5rem;
  }

.carousel-item p{
  font-size: 0.5rem;
}
  
  @media screen and (max-width: 480px) {
    .main {
      height: 30vh;
    }
  
    .main h1 {
      font-size: 1.5rem;
    }
  
    .main p {
      font-size: 0.8rem;
    }
  }
}  